In [27]:
import pandas as pd
import numpy as np

In [3]:
file = "Resources/purchase_data.csv"

In [5]:


purchase_data = pd.read_csv(file)

In [87]:

# Purchasing Analysis


total_revenue = (purchase_data["Price"]).sum()

total_number_players = len(purchase_data["SN"].value_counts())
unique_items = len(purchase_data["Item ID"].unique())
unique_items
average_price = purchase_data["Price"].mean()
Total_Number_purchases = purchase_data["Purchase ID"].count()
Total_Revenue  = purchase_data["Price"].sum()

In [28]:
# DataFrames
print("average_price :", "$" +  str(average_price))
print("total_number_players:" +str(total_number_players))
Dataframe = pd.DataFrame({"Number of Unique Items" : [unique_items] ,"Average Purchase Price " : [average_price] , "Total Number of Purchases" : [Total_Number_purchases], 
                          "Total Revenue" : [Total_Revenue]})

Dataframe.style.format({"average_price" : "{:,.2f}",
                       "Total_Revenue" : "{:,.2f}"})

average_price : $3.050987179487176
total_number_players:576

In [64]:
#Percentage and Count of Male Players
gender_count = purchase_data.groupby("Gender")
count_gender = gender_count.nunique()["SN"]
Percentage = (count_gender / total_number_players) * 100
Percentage_male

Percentage_DataFrame = pd.DataFrame({ "Percentage Players" : Percentage ,
                                     "Percentage_male" : count_gender})
Percentage_DataFrame.index.name = None
Percentage_DataFrame.style.format({"Percentage Players" : "{:,.2f}"})

In [126]:
### Age Demographics
purchase_data["Age"]
bins = [0,5,7,10,25,45,50]
bins_group = [ "<10","10-20","25-30","30-35","35-40","45+"]
purchase_data["Age Grouping"] = pd.cut(purchase_data["Age"],bins,labels=bins_group)
purchase_data["Age Grouping"].value_counts()
Age_Grouping = purchase_data.groupby("Age Grouping")
total_count_age = Age_Grouping["SN"].nunique()
Avge_Price = Age_Grouping["Price"].mean()
total_purchase = Age_Grouping['Price'].sum()
Avg_price_person = Avge_Price / total_number_players * 100

AgeGroup = pd.DataFrame({"Purchase Count" :total_count_age, "Average Purchase Price":Avge_Price,
                        "Total Purchase Value": total_purchase,
                         "Average Purchase Total per Person by Age Group" :Avg_price_person })

AgeGroup.dropna().style.format({"Average Purchase Price" : "{:,.2f}",
                       "Total Purchase Value" :  "{:,.2f}",
                       "Average Purchase Total per Person by Age Group" :"{:,.2f}" })

In [98]:

# Count the totalby gender 
purchase_count = gender_count["Purchase ID"].count()

purchase_count
# Average purchase 
avg_p_price = gender_count["Price"].mean()

# Average purchase 
purch_total = gender_count["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_p_per_person = purch_total/count_gender
Gender_analsis = pd.DataFrame({"Purchase Count" : purchase_count, "Average Purchase Price":avg_p_price,
                               "Total Purchase Value" :purch_total,
                                "Average Purchase Total per Person by Gender":avg_p_per_person  })
Gender_analysis.style.format({"Average Purchase Price" : "{:,.2f}", "Total Purchase Value": "{:,.2f}",
                              "Average Purchase Total per Person by Gender" : "{:,.2f}"})

In [80]:
### Top Spenders


spenders = pd.DataFrame(purchase_data)
spenders_group = spenders.groupby(['SN'])

top_spenders = pd.DataFrame({"Purchase Count":spenders_group["Price"].count(), "Average Purchase Price":spenders_group["Price"].mean(),"Total Purchase Value":spenders_group["Price"].sum()})
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:,.2f}".format)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [36]:

### Most Popular Items
popular_items = pd.DataFrame(purchase_data)
popular_grp = popular_items.groupby(['Item ID','Item Name'])
popular_grp = pd.DataFrame({"Purchase Count":popular_grp["Price"].count(), "Item Price":popular_grp["Price"].mean(),"Total Purchase Value":popular_grp["Price"].sum()})
popular_grp = popular_grp.sort_values("Purchase Count", ascending=False)
popular_grp["Item Price"] = popular_grp["Item Price"].map("${:.2f}".format)
popular_grp["Total Purchase Value"] = popular_grp["Total Purchase Value"].map("${:,.2f}".format)


popular_grp.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [86]:
### Most Profitable Items

                                    
profitable_items = pd.DataFrame(purchase_data)
profitable_items_grp = profitable_items.groupby(['Item ID','Item Name'])
profitable_items = pd.DataFrame({"Purchase Count":profitable_items_grp["Price"].count(), "Item Price":profitable_items_grp["Price"].mean(),"Total Purchase Value":profitable_items_grp["Price"].sum()})
profitable_items = profitable_items.sort_values("Total Purchase Value", ascending=False)
profitable_items["Item Price"]= profitable_items["Item Price"].map("${:,.2f}".format )   
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].map("${:,.2f}".format)

profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

#####